.loading {
    z-index: 1031;
    background-color: rgba(153, 153, 153, 0.822);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: large;
}

.notloadiong {
    display: none;
}